<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	<%= render 'navbar' %>
    <div class="page-content">
    	<div class="row">
		  <%= render 'menu' %>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 panel-warning">
              <div class="content-box-header panel-heading">
                <div class="panel-title">Administrator Rules</div>
              </div>
              <div class="content-box-large box-with-header">
                <div class="panel-body">
                  The NCSU exists for the purpose of public education. The School is a private institution and retains the right to revoke the permission of people to enter and use the estate if they are engaging in behaviour that is criminal, prejudices public safety, breaches the School’s rules and procedures or diminishes or disrupts the experience of students through the misuse of School facilities.
                  <br><br>
                  The Library is open for the purpose of study and research to current members of the School and other groups and individuals according to the Library's admissions policy.
                  <br><br>
                  All users must possess a current Library card and show it on request to Library staff and Security. Library users are responsible for the use of their Library card and should not allow others to use it. Users who are found to have allowed entry to unauthorised people will be subject to disciplinary procedures (see Enforcement below).
                  <br><br>
                  Applicants for a Library card will be required to provide evidence of identification and status. See the Membership pages for full admissions policy details.
                  Children under 12 are not allowed beyond the Library entrance turnstiles.
                  <br><br>
                <p><a class="btn btn-primary btn-lg" href="http://www.merriam-webster.com/dictionary/rule" role="button">Administration Rules</a></p>
                </div>
              </div>
            </div>
          </div>
		    </div>
		  </div>
    </div>
   <%= render 'footer' %>
  </body>
</html>