<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	<%= render 'navbar' %>
    <div class="page-content">
    	<div class="row">
		  <%= render 'menu' %>
        <div class="col-md-10">
              <div class="content-box-large box-with-header">
                <div class="panel-body">
                  <h4><strong>Description</strong></h4>
                  <h5>Room App is a open source web application that provides library room reservation functions. The application includes 2 subsystems which are member and admin. A new user can use the sign up functionality to create a new account, and A admin account can only be add through inserting in database by system manager.</h5>
                  <br>

                  <h4><strong>Frequently asked questions</strong></h4>
                  <h5>
                    <br>
                    Question1: The user is limited to reserve 1 room on default, what if I want to let a user to reserve multiple rooms as a admin?
                    <br>
                    Answer: Admin can help members to reserve extra rooms in the member manage page.
                    <br>

                    <br>
                    Question2: How will I get notification if I reserve this room successfully?
                    <br>
                    Answer: Once the room is reserved and released, the user will get a email notification automatically.
                    <br>

                    <br>
                    Question3: What happens to the library member attached to the room?
                    <br>
                    Answer: The library member and the room are bound once the room is booked, and it can be observed on member's history.
                    <br>

                    <br>
                    Question4: What happens to the history of a library member when the room is deleted?
                    <br>
                    Answer: The reservation will be canceled and the member's history will be updated if the room is deleted.
                    <br>
                  </h5>

                </div>
              </div>
		    </div>
		  </div>
    </div>
   <%= render 'footer' %>
  </body>
</html>