<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
  	<%= render 'navbar' %>
    <div class="page-content">
    	<div class="row">
		  <%= render 'menu' %>
		  <div class="col-md-10">
	        <%= render 'form' %>
	        <hr>
		  </div>
		</div>
    </div>
    <%= render 'footer' %>
  </body>
</html>