<h1>MEMBER INDEX WEBPAGE</h1>

<h1>
  <% if current_member %>
      Current member name is <%= current_member.name %>
  <% end %>
</h1>

<h1>
  <%= link_to "Logout", 'members/logout' %>
</h1>

<h1>
<%= link_to 'Show Profile', member_path(current_member) %>
</h1>

<h1>
  <%= link_to 'Edit Profile', edit_member_path(current_member) %>
</h1>