<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="/">Room App</a></h1>
	              </div>
	           </div>
	           <div class="col-md-5">
	              <div class="row">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                       <input type="text" class="form-control" placeholder="Search...">
	                       <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Search</button>
	                       </span>
	                  </div>
	                </div>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="<%= edit_member_path(current_member) %>"><i class="glyphicon glyphicon-cog"></i> Profile </a></li>
                    <li><a href="/schedules"><i class="glyphicon glyphicon-calendar"></i> Reservation </a></li>
                    <li><a href="<%=schedules_history_path%>"><i class="glyphicon glyphicon-list"></i> History </a></li>
                    <li><a href="/members/logout"><i class="glyphicon glyphicon-hand-right"></i> Logout </a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">

	        <!-- Page Features -->
	        <div class="row text-center">
	
	            <div class="col-md-6 hero-feature">
	                <div class="thumbnail">
	                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Hunt_Library_Study_Rooms.JPG/800px-Hunt_Library_Study_Rooms.JPG" alt="">
	                    <div class="caption">
	                        <h3>James B.Hunt Jr.Library</h3>
	                        <p>
	                            <a href="schedules" class="btn btn-primary">Reserve Study Rooms</a>
	                        </p>
	                    </div>
	                </div>
	            </div>
	
	            <div class="col-md-6 hero-feature">
	                <div class="thumbnail">
	                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Hunt_Library_Study_Rooms.JPG/800px-Hunt_Library_Study_Rooms.JPG" alt="">
	                    <div class="caption">
	                        <h3>D.H.Hill Library</h3>
	                        <p>
	                            <a href="schedules" class="btn btn-primary">Reserve Study Rooms</a>
	                        </p>
	                    </div>
	                </div>
	            </div>

	        </div>
	        
	        <!-- /.row -->
	
	        <hr>

		  </div>
		</div>
    </div>

    <footer class="navbar-fixed-bottom">
       <div class="container">
          <div class="copy text-center">
             Library Reservation System
          </div>
       </div>
    </footer>

  </body>
</html>