<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Status:</strong>
  <% if @member.status == 0 %>
      Default
  <% else %>
      Deleted
  <% end %>
</p>

<% if current_admin %>
    <%= link_to 'Back to admin', admins_show_members_path %>
<% else %>
  <%= link_to 'Back to member', members_path %>
<% end %>